{% comment %}
  {%- assign variable_name = "shoy pee" -%}
  {{- variable_name -}}
{% endcomment %}

{% comment %}
{% endcomment %}

{% assign is_a_snowboard = false %}

{% if product.title contains 'Snowboard' or product.type_name contains 'snowboard' %}
  {% assign is_a_snowboard = true %}
{% endif %}

{% if is_a_snowboard and product.price < 70000 %}
  <p>This is an affordable snowboard</p>
{% endif %}

{% comment %}
  case if 判断语句
{% endcomment %}

{% if product.type != blank %}
  {% case product.type %}
    {% when 'snowboard' %}
      <p>This is a snowboard</p>
    {% when 'ski wax' %}
      <p>This is a ski wax</p>
    {% when 'gift card' %}
      <p>This is a gift card</p>
    {% else %}
      <p>This is un konwn product</p>
  {% endcase %}
{% endif %}
